{% extends 'base.html.twig' %}

{% block title %}
    {{ category.seoTitle }}
{% endblock %}

{% block description %}
    {{ category.seoDescription }}
{% endblock %}

{% block header %}
    {# header banner#}
    {% embed 'elements/header.html.twig' %}
        {% block h1 %}
            {{ category.name }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    {{ render(controller('App\\Widget\\Rating::show')) }}

    {% embed 'elements/advantages.html.twig' %}
        {% block keyword %}
            {{ category.name|lower }}
        {% endblock %}
    {% endembed %}

    {# Карточка #}

    {% if category.cardTitle is not null and category.cardDescription is not null%}
            {% embed 'elements/category_card.html.twig' %}

                    {% block cardImage %}
                        {% if category.cardImage is not null %}
                        <img class="alignnone size-medium" src="/uploads/images/cards_images/{{ asset(category.cardImage) }}" width="580" height="580"><br>
                        <br><img class="mob-img" src="/uploads/images/cards_images/{{ asset(category.cardImage) }}">
                        {% endif %}
                    {% endblock %}


            {% block cardTitle %}
                {{ category.cardTitle }}
            {% endblock %}

            {% block cardDescription %}
                {{ category.cardDescription|raw }}
            {% endblock %}

            {% block cardPrice %}
                {{ category.cardPrice }}
            {% endblock %}

            {% block cardMeasure %}
                {% if category.measure is not null %}
                    {{ category.measure.name }}
                {% endif %}
            {% endblock %}
        {% endembed %}
    {% endif %}

    {# Каталог #}
    {% if products is not empty %}
        <h2>{{ category.cardTitle }} КАТАЛОГ И ЦЕНЫ:</h2>
        {% include 'elements/catalog-block.html.twig' with {'products': products, 'category': category.categoryId.id} %}
    {% endif %}

    {# Преимущества нижние #}
    {# Вот здесь нужно будет сделать проверку после реализации таблицы #}
    {% embed 'elements/advantages_bottom.html.twig' %}
        {% block key1 %}
            {{ category.name|lower }}
        {% endblock %}

        {% block key2 %}
            {{ category.name|lower ~ '.'}}
        {% endblock %}
    {% endembed %}

    {% if works is not empty %}
        <div class="our-works_wrapper">
            <div>
                <h2>ПРИМЕРЫ ВЫПОЛНЕННЫХ РАБОТ</h2>
                <p class="tac m0a">С конца 2005 года мы успешно выполнили более 2000 заказов. Вот небольшая часть работ проделанных в прошедшем сезоне:</p>
            </div>
            {#{{ dump(works) }}#}
            <div class="our-works-small-slider">
            {% for work in works %}
                <div class="our-works-small-item">
                    <img data-lazy="{{ work }}" alt="" data-index="{{ loop.index-1 }}" />
                </div>
            {% endfor %}
            </div><div class="our-works-bigslider-wrapper">
            <div class="our-works-bigslider-overlay"></div>

            <div class="bigslider-close">&#215;</div>

            <div class="our-works-bigslider">
                {% for work in works %}
                    <div class="our-works-big-item">
                        <img data-lazy="{{ work }}" alt="" />
                    </div>
                {% endfor %}
            </div></div>
        </div>
        <script>
            $('.our-works-small-slider').slick({
                infinite: true,
                slidesToShow: 5,
                centerMode: false,
                slidesToScroll: 1,
                lazyLoad: 'ondemand',
                responsive: [
                    {
                        breakpoint: 1599,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 991,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 567,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
            var screen_width = document.documentElement.clientWidth;
            var our_works_bigslider = $('.our-works-bigslider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                lazyLoad: 'ondemand'
            });
            $('.our-works-small-item').on('click',function (event) {
                if(screen_width > 576){
                    $('.our-works-bigslider-wrapper').fadeIn(400);
                    let slider_index = $(event.target).data('index');
                    window.our_works_bigslider.slick('slickGoTo', slider_index);
                }
            });
            $('.bigslider-close').on('click',function () {
                $('.our-works-bigslider-wrapper').fadeOut(400);
            });
            $('.our-works-bigslider-overlay').on('click',function () {
                $('.our-works-bigslider-wrapper').fadeOut(400);
            });
        </script>
    {% endif %}

    {% if category.seoText is not empty %}
        {{ include('elements/seo-text.html.twig') }}
    {% endif %}

    {# Здесь потом нужно будет проверку после реализации таблиц с этапами монтажа #}
    {{ include('elements/process.html.twig') }}

{% endblock %}