{% extends 'base.html.twig' %}

{% block title %}{% if category.seoTitle is not null %} {{ category.seoTitle}} {% else %}{{ category.name }} {{ colorName }}купить в Москве. Каталог и цены{% endif %}{% endblock %}

{% block description %}{% if category.seoDescription is not null %} {{ category.seoDescription}} {% else %}{{ category.name }} {{ colorName }} купить в Москве. ⭐ Бесплатный замер. ✅ Изготовление и установка столешниц за 5-7 дней. ✅ Гарантия 2 года. ⭐ {{ category.name }} по низким ценам ☎ 8(495)961-26-90.{% endif %}{% endblock %}

{% block header %}
    {# header banner#}
    {% embed 'elements/header.html.twig' %}
        {% block h1 %}
            {{ category.name }} {{ colorName }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    {{ breadcrumbs(category) }}
    {{ render(controller('App\\Widget\\Rating::show')) }}
    {% embed 'elements/advantages.html.twig' %}
        {% block keyword %}
            {{ category.name|lower }}
        {% endblock %}
    {% endembed %}



    {# Каталог #}
    {% if products is not empty %}
        <a id="catalog-anchor"></a>
        {% set h1 = category.name ~ ' ' ~ colorName %}
        {% include 'elements/catalog-block.html.twig' with {'products': products, 'category': category.categoryId.id, 'path':category.path, 'cardTitle': h1 } %}
    {% endif %}


{% endblock %}