<div class="products">
    {% for product in pagination %}
        <div class="product">
            <a href="/{{ product.path }}" target="_blank">
                <img src="/uploads/products/{{ product.image }}" alt="{{ product.name }}">
            </a>
            <div class="product__name">
                <a href="/{{ product.path }}" target="_blank">
                    {{ product.name }}
                </a>
            </div>
            <div class="product__price"> {{ product.price}} {{ product.measure.name }}</div>
            <button class="popup-button raschet">Рассчитать</button>
            <button class="popup-button raschet">Консультация</button>
        </div>
    {% endfor %}
</div>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
