{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} купить в Москве. {{ product.name }} цена от {{ product.price }} руб.{% endblock %}

{% block description %}{{ product.name }}  купить в Москве. ⭐ Бесплатный замер. ✅ Изготовление и установка столешниц за 5-7 дней. ✅ Гарантия 2 года. ⭐ {{ product.name }} по низким ценам ☎ 8(495)961-26-90.{% endblock %}

{% block header %}
    {# header banner#}
    {% embed 'elements/header.html.twig' %}
        {% block h1 %}
            {{ product.name }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    {{ product_breadcrumbs(product) }}
    <a id="product-card"></a>
    {{ render(controller('App\\Widget\\Rating::show')) }}
    {# Карточка #}
    {% embed 'elements/category_card.html.twig' %}
        {% block cardImage %}
            {% if product.bigImg is not null %}
            <img class="alignnone size-medium" src="/uploads/products/big{{ asset(product.bigImg) }}" width="580" height="580"><br>
            <br><img class="mob-img" src="/uploads/products/big{{ asset(product.bigImg) }}">
            {% else %}
            {% if product.image is not null %}
                <img class="alignnone size-medium" src="/uploads/products{{ asset(product.image) }}" width="580" height="580"><br>
                <br><img class="mob-img" src="/uploads/products{{ asset(product.image) }}">
                {% endif %}
            {% endif %}

        {% endblock %}

        {% block cardTitle %}
            {{ product.name }}
        {% endblock %}

        {% block cardDescription %}
            {{ product.cardText|raw }}
        {% endblock %}

        {% block cardPrice %}
            {{ product.price }}
        {% endblock %}

        {% block cardMeasure %}
            {% if product.measure is not null %}
                {{ product.measure.name }}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
