<div class="block3">
    <div id="video-bg">&nbsp;</div>
    <div class="preim-wrap">
        <div class="grcontainer">
            <h2 class="zag1">Преимущества</h2>
            <div class="grrow">
                <div class="preimblock">
                    <div class="preim preim1">
                        <div class="preim-img"><img src="{{ asset('images/garantiya.png') }}" alt="*"></div>
                        <div class="preim-zag">Гарантия от 1 года</div>
                        <div class="preim-text">На все {% block key1 %}столешницы из натурального камня{% endblock%} мы предоставляем гарантию, а так же техническое обслуживание.</div>
                    </div>
                </div>
                <div class="preimblock">
                    <div class="preim preim1">
                        <div class="preim-img"><img src="{{ asset('images/izgotovlenie.png') }}" alt="*"></div>
                        <div class="preim-zag">Изготовление за 5-7 дней</div>
                        <div class="preim-text">Выполним почти любой заказ в кратчайшие сроки за 5-7 рабочих дней.</div>
                    </div>
                </div>
                <div class="preimblock">
                    <div class="preim preim1">
                        <div class="preim-img"><img src="{{ asset('images/zamer.png') }}" alt="*"></div>
                        <div class="preim-zag">Выезд и замер в подарок</div>
                        <div class="preim-text">Акция действует при оформлении и 100% оплате заказа на {% block key2 %}столешницы из натурального камня {% endblock %}</div>
                    </div>
                </div>
                <div class="preimblock">
                    <div class="preim preim1">
                        <div class="preim-img"><img src="{{ asset('images/skidka.png') }}" alt="*"></div>
                        <div class="preim-zag">Скидки до 10%</div>
                        <div class="preim-text">У нас собственное производство и мы предоставляем лучшие цены в Москве и Московской области.</div>
                    </div>
                </div>
                <div class="preimblock">
                    <div class="preim preim1">
                        <div class="preim-img"><img src="{{ asset('images/bez-obmana.png') }}" alt="*"></div>
                        <div class="preim-zag">Работаем без обмана</div>
                        <div class="preim-text">Гарантия качества всех материалов, не обманываем своих клиентов. Мы дорожим своей репутацией!</div>
                    </div>
                </div>
                <div class="preimblock">
                    <div class="preim preim1">
                        <div class="preim-img"><img src="{{ asset('images/do-200km.png') }}" alt="*"></div>
                        <div class="preim-zag">До 200 км от Москвы</div>
                        <div class="preim-text">Мы в кратчайшие сроки сможем выехать на замер и на следующий день начать производство столешницы.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>