{#{{ dump(path) }}#}
<h2>{{ cardTitle }} КАТАЛОГ И ЦЕНЫ:</h2>
<div id="catalog-block__wrapper">
    <div class="row">
    <div class="col-md-2 col-sm-12">
        <div class="filters_wrapper">
            <div class="clear-filter" {% if activeColor is null %} style="display: none" {% endif %}>
                <a href="/{{ path }}#catalog-anchor" class="mbtn">Сбросить фильтры</a>
            </div>

            <div class="color-filter">
                <div class="color-header">
                    Выбрать цвет:
                </div>
                <div class="color-filter_body">

                    {% for color in colors %}
                        <a href="/{{ path }}color/{{ color.slug }}#catalog-anchor" title="{{ color.name }}" data-color="{{ color.slug }}" data-category ="{{ category }}" class="color-filter__item {% if color.id == activeColor %} active-color {% endif %}" style="background-color: {{ color.code }}"></a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-12">
        <div class="product-sort">
            <form>
                <div class="form-group">
                    <select class="form-control" id="sortSelect">
                        <option selected disabled value="no">Сортировка</option>
                        <option value="ASC">По возрастанию цены</option>
                        <option value="DESC">По убыванию цены</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="products-navigation__wrapper">
            <div class="products">
                {% for product in pagination %}
                    <div class="product">
                        <a href="/{{ product.path }}#product-card" target="_blank">
                            <img src="/uploads/products/{{ product.image }}" alt="{{ product.name }}">
                        </a>
                        <div class="product__name">
                            <a href="/{{ product.path }}#product-card" target="_blank">
                                {{ product.name }}
                            </a>
                        </div>
                        <div class="product__price">от {{ product.price}} {{ product.measure.name }}</div>
                        <button class="popup-button raschet">Рассчитать</button>
                        <button class="popup-button raschet">Консультация</button>
                    </div>
                {% endfor %}
            </div>

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>
</div>


<script>
    $( document ).ready(function() {
        let color = 0;
        let category = 0;
        let sort = 'no';


      $("#sortSelect").change(
          function (event) {
               sort = $(this).val();
               $("#sortSelect option").attr('selected', false);
               $("#sortSelect option[value='"+sort+"']").attr('selected',true);
               category = $('.color-filter__item:first').data('category');
               color = $('.active-color').data('color');
              showAjaxLoader();
               showBySort(color, category, sort);
          }
      );

    });

    function showAjaxLoader() {
        $(".products").append('<div class="ajax_overlay" style="background-color: rgb(255, 255, 255); opacity: 0.7; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 99999;"><div class="ajax_loader"></div></div>');
    }

    function showBySort(color, category, sort) {
        console.log(color);
        console.log(category);
        console.log(sort);
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            dataType:'html',
            data:{
                'sort': sort,
                'ajax': 1,
                'color': color,
            },

            success: function (response) {
                $(".products-navigation__wrapper").html(response);
            },
            error: function (response) {
                console.log('Error');
            }
        });
    }


</script>