<div id="howwework">

    <div class="wrapper">

        <h2>Пример процесса монтажа:</h2>

        <div class="items">


            <div class="item item-1">

                <span class="round"
                      style="background: url({{ asset('img/primer/manager.png') }}) no-repeat"></span>
                <div class="number">1</div>
                <h3>ОФОРМЛЕНИЕ ЗАКАЗА</h3>
                <p>Вы можете оставить заявку на сайте или позвонить нашему менеджеру.</p>

            </div>


            <div id="popup-button">


                <button onClick="showPopup();" class="popup-button">Оставить заявку</button>


            </div>


            <div class="arrow">
                <img src="{{ asset('img/howwework/f-arrow.png') }}"/>
            </div>


            <div class="item item-2">

                <span class="round"
                      style="background: url({{ asset('img/primer/zamer.jpg') }}) no-repeat"></span>
                <div class="number">2</div>
                <h3>Выезд замерщика</h3>
                <p>Наш мастер приедет в удобное для Вас время и произведет все необходимые расчеты.</p>

            </div>


            <div class="arrow">
                <img src="{{ asset('img/howwework/f-arrow.png') }}"/>
            </div>


            <div class="item item-3">

                <span class="round"
                      style="background: url({{ asset('img/primer/calc.jpg') }}) no-repeat"></span>
                <div class="number">3</div>
                <h3>РАСЧЕТ СТОИМОСТИ</h3>
                <p>После замера и согласования всех работ, наш менеджер рассчитает окончательную стоимость.</p>

            </div>

            <div class="arrow">
                <img src="{{ asset('img/howwework/f-arrow.png') }}"/>
            </div>


            <div class="item item-4">

                <span class="round" style="background: url({{ asset('img/primer/proizvodstvo.jpg') }}) no-repeat"></span>
                <div class="number">4</div>
                <h3>Производство</h3>
                <p>На данном этапе производятся чертежи и непосредственное изготовление изделия.</p>

            </div>

            <div class="arrow">
                <img src="{{ asset('img/howwework/f-arrow.png') }}"/>
            </div>


            <div class="item item-5">

                <span class="round"
                      style="background: url({{ asset('img/primer/dostavka.jpg') }}) no-repeat"></span>
                <div class="number">5</div>
                <h3>Доставка и установка</h3>
                <p>После выполнения всех работ по производству, осуществляется доставка и монтаж.</p>

            </div>


        </div>

    </div>
</div>