<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('slick/slick.css') }}"/>

            <!-- Подключение FONTAWESOME-->

            <link rel="stylesheet" href="{{ asset('font-awesome-4.6.3/css/font-awesome.min.css') }}">


            <!-- Подключение галереи -->
            <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
            <link href="{{ asset('css/slider.css') }}" rel='stylesheet' type='text/css'>
            <!-- Подключение ПОПАП -->

            <link rel="stylesheet" href="{{ asset('css/template.css') }}" type="text/css"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('css/slider.css') }}">
            <link rel="stylesheet" href="{{ asset('css/videofon.css') }}" type="text/css"/>

            <link rel="stylesheet" type="text/css" href="{{ asset('css/rating/rating.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('css/rating/stars.css') }}"/>
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.imagesGrid.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/crawler_min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/td.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
            <script src="{{ asset('js/maskedinput.js') }}"></script>
            <script type="text/javascript" src="{{ asset('slick/slick.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/popup.js') }}"></script>
            <!-- Подключение СЛАЙДЕРА -->
            <script src="{{ asset('js/jquery.glide.js') }}"></script>

            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
            {% block topmenu %}
                {# top menu #}
                {#{{ include('elements/top_menu.html.twig') }}#}
                {{ render(controller('App\\Widget\\TopMenu::show')) }}
            {% endblock %}

            {% block header %}
            {% endblock %}

            {% block body %}
            {% endblock %}

            {% block askQuestion %}
                {{ include('elements/ask_question.html.twig') }}
            {% endblock %}

            {% block footer %}
                {{ include('elements/footer.html.twig') }}
                {{ include('elements/popup.html.twig') }}
                {{ include('elements/cd-user-modal.html.twig') }}
                <a href="#" class="scrollup">Наверх</a>
            {% endblock %}


    </body>

{% block javascriptBottom %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>
    <!-- RedHelper -->
    <script id="rhlpscrtg" type="text/javascript" charset="utf-8" async="async"
            src="https://web.redhelper.ru/service/main.js?c=stonetech2018">
    </script>
    <!--/Redhelper -->

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            var bLazy = new Blazy({loadInvisible: true});
        });
    </script>
    <!--шема-->
    <script type="application/ld+json">
        {
            "@context" : "https://schema.org",
            "@type" : "LocalBusiness",
            "name" : "Каменные технологии",
            "image" : "https://www.stone-tech.ru/img/header/logo1.png",
            "telephone" : "+7(495)961-26-90",
            "email" : "info@stone-tech.ru",
            "address" : {
                "@type" : "PostalAddress",
                "addressLocality" : "Москва",
                "streetAddress" : "Электродный проезд, дом 6, строение 1, подъезд 2, офис 15.",
                "addressCountry" : "Россия"
            },
            "openingHours": "Пн-Вс 08:00-21:00",
            "paymentAccepted": "Оплата наличными, картой",
            "priceRange": "3000-8000 рублей",
            "url" : "https://www.stone-tech.ru",
            "aggregateRating" : {
                "@type" : "AggregateRating",
                "ratingValue" : "4,911",
                "bestRating" : "5",
                "worstRating" : "4",
                "ratingCount" : "45"
            }


        }
    </script>

    <!--шема-->
{% endblock %}
</html>
