{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block description %}{% endblock %}

{% block header %}
    {# header banner#}
    {% embed 'elements/header.html.twig' %}
        {% block h1 %}
            Каталог камня
        {% endblock %}
        {% block goToCataloBotton %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    {{ breadcrumbs(page) }}
<div class="wrapper stone-catalog__wrapper">
    <div class="container">
        <div class="row">
    {% for category in categories %}
        <div class="col-md-4">

            <div class="catlog">
                <span><a href="/{{ category.slug }}">{{ category.name }}</a></span>
            </div>
            <a href="/{{ category.slug }}">
            <div class="imges">
                {% if category.thumbs is not empty %}
                    <div class="stone-thumbs__wrapper">
                {% for thumb in category.thumbs %}
                    <div class="stone-thumb" style="background-image: url('/images/stone/catalog/{{ thumb.smallImg }}')"></div>
                {% endfor %}
                    </div>
                {% endif %}
            </div>
            </a>
            <a href="/{{ category.slug }}">
            <div class="stone-catalog__item-description">
                {{ category.description|raw }}
            </div>
            </a>

        </div>

    {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
