{% extends 'base.html.twig' %}

{% block title %}{% if product.title is null %}{{ product.name }} купить в Москве. Каталог и цены{% else %}{{ product.title }}{% endif %}{% endblock %}

{% block description %}{% if product.description is null %}{{ product.name }} купить в Москве. ⭐ Бесплатный замер. ✅ Изготовление и установка столешниц за 5-7 дней. ✅ Гарантия 2 года. ⭐ {{ product.name }} по низким ценам ☎ 8(495)961-26-90.{% else %}{{ product.description }}{% endif %}{% endblock %}
{% block lastMod %}<meta http-equiv="Last-Modified" content="{{ product.updated|date('D, d M Y H:i:s') }} GMT">{% endblock %}
{% block header %}
    {# header banner#}
    {% embed 'elements/header.html.twig' %}
        {% block h1 %}
            {{ product.name }}
        {% endblock %}
        {% block goToCataloBotton %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    {{ stoneProduct_breadcrumbs(page) }}
    {{ render(controller('App\\Widget\\Rating::show')) }}



    {# Каталог #}
    {% if product is not empty %}
        <a id="catalog-anchor"></a>
        {% include 'elements/card-block_stone.html.twig' with {'product': product} %}
    {% endif %}


{% endblock %}