{% extends 'base.html.twig' %}

{% block title %}Каталог камня - {{ page.name }}{% endblock %}

{% block description %}Каталог камня - {{ page.name }}. Stone-tech.ru{% endblock %}
{% block lastMod %}{% endblock %}
{% block scheme %}
{% endblock %}

{% block header %}
    {# header banner#}
    {% embed 'elements/header.html.twig' %}
        {% block h1 %}
            Каталог камня
        {% endblock %}
        {% block goToCataloBotton %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    {{ stoneCatalog_braedcrumbs(page) }}
    <div class="wrapper stone-catalog__wrapper">
        <div class="container">
            <div class="row">
                {% for item in items %}
                    <div class="col-md-3">
                        <a href="/{{ item.slug }}">
                        <div class="catblock"><div class="imgblock" style="background: url('/images/stone/catalog/{{ item.smallImg }}')">

                            </div>
                            <div class="stone-elements__item_wrapper">
                                <div class="txtblock"><strong>{{ item.name }}</strong></div>
                                <br>
                                {% if item.color is not null %}
                                <div class="stone-color">Цвет: {{ item.color }}</div>
                                {% endif %}
                                {% if item.country is not null %}
                                    <div class="stone-country">Страна: {{ item.country }}</div>
                                {% endif %}
                            </div>
                        </div>
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
